* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    border-bottom: 1px solid;
}

main {
    margin-left: 200px;
    margin-right: 200px;

}

section {
    display: flex;
    flex-wrap: wrap;

}

article {
    flex-basis: 200px;
    flex-grow: 1;
    border: 1px solid;

}
