* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

h1 {
    text-align: center;
}

/*
h2 {
    display: flex;
}
*/
section {
    display: flex;
    flex-wrap: wrap;


}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

#column1,
#column2 {
    flex-grow: 1;
    flex-basis: 500px;
    border: 1px solid black;
}

footer {
    text-align: center;
}
